$primary: var(--primary);
$secondary: var(--secondary);
$text: var(--text);

$primary-border: var(--primary-border);
$primary-active: var(--primary-active);
$primary-border-active: var(--primary-border-active);

$background-light: var(--background-light);
$background-medium: var(--background-medium);
$background-dark: var(--background-dark);

$radius-small: var(--radius-small);
$radius-medium: var(--radius-medium);
$radius-large: var(--radius-large);

$button: var(--button);
$button-border: var(--button-border);
$button-active: var(--button-active);
$button-border-active: var(--button-border-active);
